<kotka-form-view
  [formId]="formId"
  [dataType]="dataType"
  [augmentFormFunc]="augmentFormFunc"
  [extraSectionTpl]="extraSection"
  (formInit)="onFormInit($event)"
  (formDataChange)="onFormDataChange(asPartialSpecimenTransaction($event))"
  (disabledChange)="setDisabled($event)"
>
</kotka-form-view>

<ng-template #extraSection>
  <kotka-transaction-pdf-sheets
    *ngIf="isSpecimenTransaction(formData)"
    [data]="asSpecimenTransaction(formData)">
  </kotka-transaction-pdf-sheets>
</ng-template>
