<kotka-form-view
  [formId]="formId"
  [dataType]="dataType"
  [dataTypeName]="'transaction'"
  [augmentFormFunc]="augmentFormFunc"
  [editModeHeaderTpl]="editModeHeaderTpl"
  [extraSectionTpl]="extraSection"
  (formInit)="onFormInit($event)"
  (formDataChange)="onFormDataChange($event)"
  (disabledChange)="setDisabled($event)"
>
</kotka-form-view>

<ng-template #editModeHeaderTpl let-dataURI="dataURI" let-formData="formData">
  <h1 data-cy="main-header">
    Edit transaction {{ dataURI }}
    <ng-container *ngIf="formData?.legacyID as legacyID">({{ legacyID }})</ng-container>
  </h1>
</ng-template>

<ng-template #extraSection>
  <kotka-transaction-pdf-sheets
    *ngIf="isSpecimenTransaction(formData)"
    [data]="formData">
  </kotka-transaction-pdf-sheets>
</ng-template>
