<kotka-form-view
  [formId]="formId"
  [dataType]="dataType"
  [dataTypeName]="'transaction'"
  [editMode]="editMode()"
  [dataURI]="dataURI()"
  [allowCopy]="true"
  [prefilledFormData]="copyData()"
  [augmentFormFunc]="augmentFormFunc"
  [mediaMetadata]="mediaMetadata()"
  [headerTpl]="headerTpl"
  [metaFieldsContainerTpl]="metaFieldsContainer"
  (formInit)="onFormInit($event)"
  (formDataChange)="onFormDataChange($event)"
  (disabledChange)="setDisabled($event)"
  (saveSuccess)="onSaveSuccess($event)"
  (deleteSuccess)="onDeleteSuccess()"
  (copyData)="onCopyData($event)"
  >
</kotka-form-view>

<ng-template #headerTpl let-editMode="editMode" let-dataURI="dataURI" let-formData="formData">
  <h1 data-cy="main-header">
    @if (!editMode) {
      Add transaction {{ dataURI }}
    } @else {
      Edit transaction {{ dataURI }}
      @if (formData?.legacyID; as legacyID) {
        ({{ legacyID }})
      }
    }
  </h1>
</ng-template>

<ng-template #metaFieldsContainer let-metaFieldsTpl>
  <div class="row">
    <div class="col-lg-6 col-md-5 col-sm-4 col-12 order-sm-last">
      @if (isSpecimenTransaction(formData)) {
        <kotka-transaction-pdf-sheets
          [data]="formData">
        </kotka-transaction-pdf-sheets>
      }
    </div>
    <div class="col-lg-6 col-md-7 col-sm-8 col-12 order-sm-first">
      <ng-container *ngTemplateOutlet="metaFieldsTpl"></ng-container>
    </div>
  </div>
</ng-template>
