<kui-main-content [header]="'Transactions'">
  <span *ngIf="totalCount !== undefined"><span data-cy="transaction-count">{{ totalCount }}</span> transactions found</span>
  <kui-spinner [spinning]="!columns">
    <kui-datatable
      *ngIf="columns"
      style="height: calc(100vh - 190px)"
      [columns]="columns"
      [datasource]="datasource"
      [loading]="loading"
      [enableColumnSelection]="true"
      [settingsKey]="'transaction-table'"
    >
    </kui-datatable>
  </kui-spinner>
</kui-main-content>
