@if (ownerOrganization) {
  <div class="transaction-header">
    <div class="transaction-header-left">
      <div class="content-block multi-line font-bold">
        @if (ownerOrganization.organizationLevel2) {
          <span>{{ ownerOrganization.organizationLevel2.en }}</span>
        }
        @if (ownerOrganization.organizationLevel3 || ownerOrganization.abbreviation) {
          <span>{{ ownerOrganization.organizationLevel3?.en }}@if (ownerOrganization.abbreviation) {
            ({{ ownerOrganization.abbreviation }})
          }</span>
        }
        @if (ownerOrganization.organizationLevel4) {
          <span>{{ ownerOrganization.organizationLevel4.en }}</span>
        }
      </div>
      <div class="content-block">
        @if (ownerOrganization.EORINumber) {
          <div class="sub-content-block">
            EORI: {{ ownerOrganization.EORINumber }}
          </div>
        }
        <div class="sub-content-block multi-line">
          @if (ownerOrganization.postOfficeBox) {
            <span>P.O. Box {{ ownerOrganization.postOfficeBox }}</span>
          }
          @if (ownerOrganization.postalCode || ownerOrganization.locality) {
            <span>{{ ownerOrganization.postalCode }} {{ ownerOrganization.locality }}</span>
          }
          @if (ownerOrganization.country) {
            <span>{{ ownerOrganization.country }}</span>
          }
        </div>
        @if (ownerOrganization.courierAddress) {
          <div class="sub-content-block">
            Street address for couriers:
          </div>
        }
        @if (ownerOrganization.courierAddress) {
          <div class="sub-content-block text-with-line-breaks">{{ ownerOrganization.courierAddress }}</div>
        }
        @if (ownerOrganization.phone) {
          <div class="sub-content-block">
            Tel. {{ ownerOrganization.phone }}
          </div>
        }
      </div>
    </div>
    <div class="transaction-header-middle">
      @if (ownerOrganization.logo) {
        <img height="80" [src]="ownerOrganization.logo" />
      }
    </div>
    <div class="transaction-header-right multi-line">
    <img [src]="'https://koivu.luomus.fi/projects/qrcode/?code=' + (data.id | toFullUri)" width="50" height="50">
    <span>{{ data.id | toFullUri }}</span>
  </div>
</div>
}
