<kui-spinner [spinning]="!versionList" [hideContentWhileLoading]="true">
  <ngb-alert [type]="'warning'" [dismissible]="false">
    <strong>You are viewing an old version of this {{ visibleDataTypeName }}.</strong>
    <div class="mt-1">
      <span><a [routerLink]="['..', 'edit']" [queryParams]="{ version: undefined }" queryParamsHandling="merge">View current version</a></span>
      <span class="ms-2">|</span>
      <span class="ms-2"><a [routerLink]="[]" [queryParams]="{ version: undefined }" queryParamsHandling="merge">View history</a></span>
    </div>
    <div class="version-pagination mt-2">
      <button class="btn btn-light" [routerLink]="[]" [queryParams]="{ version: previousVersion }" queryParamsHandling="merge" [disabled]="previousVersion === undefined">
        <i class="fa fa-angle-left"></i> Previous
      </button>
      <span class="ms-2 me-2"><strong>Version {{ version }}</strong></span>
      <button class="btn btn-light" [routerLink]="nextVersion ? [] : ['..', 'edit']" [queryParams]="{ version: nextVersion }" queryParamsHandling="merge">
        {{ nextVersion ? 'Next' : 'Current' }} <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </ngb-alert>
</kui-spinner>

<kui-spinner [spinning]="!form || !data">
  <kui-laji-form
    *ngIf="form && data"
    [form]="form"
    [formData]="data"
    [disabled]="true"
    [showFooter]="false"
    [apiClient]="formApiClient"
    [notifier]="notifier"
    (formReady)="onFormReady($event)"
  >
  </kui-laji-form>
</kui-spinner>
