<ng-container *ngIf="routeParams$ | async as routeParams else spinner">
  <kui-main-content
    [header]="routeParams.editMode ? 'Edit ' + (dataTypeName || dataType) + ' ' + (routeParams.dataURI || ''): 'Add ' + (dataTypeName || dataType)"
    [containerClass]="'container'"
  >
    <ng-container *ngIf="formParams$ | async as formParams else spinner">
      <ng-template #headerTpl *ngIf="formHeader">
        <ng-container *ngTemplateOutlet="formHeader; context:{formData: formParams.formData}"></ng-container>
      </ng-template>

      <ngb-alert *ngIf="formParams.disabled && !disabledAlertIsDismissed" [type]="'warning'" (closed)="disabledAlertIsDismissed = true">
        <strong>Note:</strong>
        You can only view this record. To be able to edit this record, you must belong to {{ formParams.formData?.owner | label }}
      </ngb-alert>

      <ng-container *ngIf="(!routeParams.editMode || formParams.formData?.id) else notFound">
        <div *ngIf="routeParams.editMode && formParams.formData" class="mb-1">
          <strong class="d-block">Last edited by</strong>
          <span>{{ (formParams.formData.editor || '') | label }} on {{ formParams.formData.dateEdited | date:'dd.MM.YYYY HH:mm' }}</span>
          <strong class="d-block">Originally created by</strong>
          <span>{{ (formParams.formData.creator || '') | label }} on {{ formParams.formData.dateCreated | date:'dd.MM.YYYY HH:mm' }}</span>
        </div>
        <kui-laji-form
          [form]="formParams.form"
          [formData]="formParams.formData"
          [disabled]="formParams.disabled"
          [showDeleteButton]="formParams.showDeleteButton"
          [apiClient]="formApiClient"
          [notifier]="notifier"
          (formSubmit)="onSubmit($event)"
          (delete)="onDelete($event)"
        >
        </kui-laji-form>
      </ng-container>
      <ng-template #notFound>
        {{ (dataTypeName || dataType) | titlecase }} <ng-container *ngIf="routeParams.dataURI">with URI {{ routeParams.dataURI }} </ng-container>was not found.
      </ng-template>
    </ng-container>
  </kui-main-content>
</ng-container>

<ng-template #spinner>
  <kui-spinner></kui-spinner>
</ng-template>
