<ng-container *ngIf="vm$ | async as vm else spinner">
  <kui-main-content
    [header]="vm.routeParams.editMode ? 'Edit ' + visibleDataTypeName + ' ' + (vm.routeParams.dataURI || ''): 'Add ' + visibleDataTypeName"
    [containerClass]="'container'"
  >
    <ngb-alert *ngIf="isErrorViewModel(vm)" [type]="'danger'" [dismissible]="false">
      <ng-container *ngIf="vm.errorType === formErrorEnum.dataNotFound else genericError">
        {{ visibleDataTypeName | titlecase }} <ng-container *ngIf="vm.routeParams.dataURI">with URI {{ vm.routeParams.dataURI }} </ng-container>was not found.
      </ng-container>
      <ng-template #genericError>
        An unexpected error occurred
      </ng-template>
    </ngb-alert>

    <ng-container *ngIf="isSuccessViewModel(vm)">
      <ng-container *ngIf="vm.form && vm.formData && vm.state else spinner">
        <ng-template #headerTpl *ngIf="formHeader">
          <ng-container *ngTemplateOutlet="formHeader; context: { formData: vm.formData }"></ng-container>
        </ng-template>

        <ngb-alert *ngIf="showDeleteTargetInUseAlert" [type]="'danger'" (closed)="showDeleteTargetInUseAlert = true">
          <strong>Delete failed:</strong>
          This {{ visibleDataTypeName}} can't be deleted because there are resources that are attached to it.
        </ngb-alert>
        <ngb-alert *ngIf="vm.state.disabled && !disabledAlertDismissed" [type]="'warning'" (closed)="disabledAlertDismissed = true">
          <strong>Note:</strong>
          You can only view this {{ visibleDataTypeName }}. To be able to edit this {{ visibleDataTypeName }}, you must belong to {{ vm.formData.owner | label }}
        </ngb-alert>

        <div *ngIf="vm.routeParams.editMode && vm.formData" class="mb-1">
          <strong class="d-block">Last edited by</strong>
          <span>{{ (vm.formData.editor || '') | label }} on {{ vm.formData.dateEdited | date:'dd.MM.YYYY HH:mm' }} </span>
          <a [routerLink]="['..', 'history']" [queryParams]="{ uri: vm.routeParams.dataURI }">view history</a>
          <strong class="d-block">Originally created by</strong>
          <span>{{ (vm.formData.creator || '') | label }} on {{ vm.formData.dateCreated | date:'dd.MM.YYYY HH:mm' }}</span>
        </div>
        <kui-laji-form
          [form]="vm.form"
          [formData]="vm.formData"
          [disabled]="vm.state.disabled"
          [showDeleteButton]="vm.state.showDeleteButton"
          [showCopyButton]="vm.state.showCopyButton"
          [apiClient]="formApiClient"
          [notifier]="notifier"
          (formReady)="onFormReady($event)"
          (formChange)="onChange($event)"
          (formSubmit)="onSubmit($event)"
          (delete)="onDelete($event)"
          (formCopy)="onCopy($event)"
        >
        </kui-laji-form>
      </ng-container>
    </ng-container>
  </kui-main-content>
</ng-container>

<ng-template #spinner>
  <kui-spinner></kui-spinner>
</ng-template>
