<div class="avoid-page-break" style="display: grid; grid-template-columns: 50% 50%">
  <div>
    <h4>Recipient</h4>
    @if (correspondingOrganization) {
      <div class="multi-line content-block">
        <span>{{ correspondingOrganization.organizationLevel4?.en }}@if (correspondingOrganization.abbreviation) {
          ({{ correspondingOrganization.abbreviation }})
        }</span>
        <span>{{ correspondingOrganization.organizationLevel1.en }}</span>
        <span>{{ correspondingOrganization.organizationLevel2?.en }}</span>
        <span>{{ correspondingOrganization.organizationLevel3?.en }}</span>
        @if (correspondingOrganization.postOfficeBox) {
          <span>P.O. Box {{ correspondingOrganization.postOfficeBox }}</span>
        }
        <span>{{ correspondingOrganization.streetAddress }}</span>
        <span>{{ correspondingOrganization.postalCode }}</span>
        <span>{{ correspondingOrganization.locality }}</span>
        <span>{{ correspondingOrganization.region }}</span>
        <span>{{ correspondingOrganization.country }}</span>
      </div>
    }
    @if (data.correspondentPerson) {
      <div class="multi-line content-block">
        <span>Corresponding person:</span>
        <span>{{ data.correspondentPerson }}</span>
      </div>
    }
    @if (data.correspondentResearcher) {
      <div class="multi-line content-block">
        <span>Receiving researcher:</span>
        <span>{{ data.correspondentResearcher }}</span>
      </div>
    }
  </div>
  <div>
    <h4>
      {{ data.type | transactionTypeLabel | capitalizeFirstLetter }} ID: {{ data.id | toFullUri }}
      @if (data.dueDate) {
        <br>Due date: {{ data.dueDate | date:'dd MMMM y' }}
        }
      </h4>
      @if (data.requestReceived || data.outgoingSent || data.transportMethod) {
        <div class="multi-line content-block">
          @if (data.requestReceived) {
            <span>{{ data.type | transactionTypeLabel | capitalizeFirstLetter }} request received: {{ data.requestReceived | date:'dd MMMM y' }}</span>
          }
          @if (data.outgoingSent) {
            <span>Sent to you on: {{ data.outgoingSent | date:'dd MMMM y' }}</span>
          }
          @if (data.transportMethod) {
            <span>Sent by: {{ data.transportMethod | enum: fieldData['transportMethod'] }}</span>
          }
          @if (data.numberOfParcels) {
            <span>Parcels: {{ data.numberOfParcels }}</span>
          }
        </div>
      }
      @if (data.localHandler || data.localHandlerEmail) {
        <div class="multi-line content-block">
          <span>Handler:</span>
          <span>{{ data.localHandler }}</span>
          <span>{{ data.localHandlerEmail }}</span>
        </div>
      }
      @if (data.localPerson || data.localPersonEmail) {
        <div class="multi-line content-block">
          <span>Person responsible:</span>
          <span>{{ data.localPerson }}</span>
          <span>{{ data.localPersonEmail }}</span>
        </div>
      }
    </div>
  </div>
