<div class="avoid-page-break" style="display: grid; grid-template-columns: 50% 50%">
  <div>
    <h4>Recipient</h4>
    <div *ngIf="correspondingOrganization" class="multi-line content-block">
      <span>{{ correspondingOrganization.organizationLevel4?.en }}<ng-container *ngIf="correspondingOrganization.abbreviation"> ({{ correspondingOrganization.abbreviation }})</ng-container></span>
      <span>{{ correspondingOrganization.organizationLevel1.en }}</span>
      <span>{{ correspondingOrganization.organizationLevel2?.en }}</span>
      <span>{{ correspondingOrganization.organizationLevel3?.en }}</span>
      <span *ngIf="correspondingOrganization.postOfficeBox">P.O. Box {{ correspondingOrganization.postOfficeBox }}</span>
      <span>{{ correspondingOrganization.streetAddress }}</span>
      <span>{{ correspondingOrganization.postalCode }}</span>
      <span>{{ correspondingOrganization.locality }}</span>
      <span>{{ correspondingOrganization.region }}</span>
      <span>{{ correspondingOrganization.country }}</span>
    </div>
    <div *ngIf="data.correspondentPerson" class="multi-line content-block">
      <span>Corresponding person:</span>
      <span>{{ data.correspondentPerson }}</span>
    </div>
    <div *ngIf="data.correspondentResearcher" class="multi-line content-block">
      <span>Receiving researcher:</span>
      <span>{{ data.correspondentResearcher }}</span>
    </div>
  </div>
  <div>
    <h4>
      {{ data.type | transactionTypeLabel | capitalizeFirstLetter }} ID: {{ data.id | toFullUri }}
      <ng-container *ngIf="data.dueDate"><br>Due date: {{ data.dueDate | date:'dd MMMM Y' }}</ng-container>
    </h4>
    <div *ngIf="data.requestReceived || data.outgoingSent || data.transportMethod" class="multi-line content-block">
      <span *ngIf="data.requestReceived">{{ data.type | transactionTypeLabel | capitalizeFirstLetter }} request received: {{ data.requestReceived | date:'dd MMMM Y' }}</span>
      <span *ngIf="data.outgoingSent">Sent to you on: {{ data.outgoingSent | date:'dd MMMM Y' }}</span>
      <span *ngIf="data.transportMethod">Sent by: {{ data.transportMethod | enum: fieldData['transportMethod'] }}</span>
      <span *ngIf="data.numberOfParcels">Parcels: {{ data.numberOfParcels }}</span>
    </div>
    <div *ngIf="data.localHandler || data.localHandlerEmail" class="multi-line content-block">
      <span>Handler:</span>
      <span>{{ data.localHandler }}</span>
      <span>{{ data.localHandlerEmail }}</span>
    </div>
    <div *ngIf="data.localPerson || data.localPersonEmail" class="multi-line content-block">
      <span>Person responsible:</span>
      <span>{{ data.localPerson }}</span>
      <span>{{ data.localPersonEmail }}</span>
    </div>
  </div>
</div>
