@use "sass:map";
@import "../../../../../../styles/bootstrap";

.btn-group-nav {
  .btn {
    text-align: left;
    padding-left: map.get($spacers, 3);
    border-radius: 0;

    &.active-btn {
      color: $primary;
      border-left: 1px solid $primary;
    }
  }

  .btn-group-vertical .btn{
    padding-left: calc(map.get($spacers, 3) + map.get($spacers, 3));
  }
}
