<ng-container *ngIf="context">
  <div class="transaction-header">
    <div class="transaction-header-left multi-line">
      <ng-container *ngIf="context.ownerOrganization as ownerOrganization">
        <span>{{ ownerOrganization.organizationLevel2 }}</span>
        <span>{{ ownerOrganization.organizationLevel3 }}<ng-container *ngIf="ownerOrganization.abbreviation"> ({{ ownerOrganization.abbreviation }})</ng-container></span>
        <span>{{ ownerOrganization.organizationLevel4 }}</span>
      </ng-container>
    </div>
    <div class="transaction-header-middle">
      LOGO
    </div>
    <div class="transaction-header-right multi-line">
      <img [src]="'https://koivu.luomus.fi/projects/qrcode/?code=' + (data.id | toFullUri)" width="50" height="50">
      <span>{{ data.id | toFullUri }}</span>
    </div>
  </div>
  <h2>{{ data.type | transactionTypeLabel | uppercase }}</h2>
  <p>We are sending you the material indicated here. Upon receiving the specimens/data, please sign and return one copy of this form to the above address<ng-container *ngIf="data.localHandlerEmail"> or email to {{ data.localHandlerEmail }}</ng-container>. This form, along with the attachments, constitutes the full loan agreement.</p>
  <p>Please reference the identifier {{ data.id | toFullUri }} in all correspondence related to this material.</p>
  <p>Please cite specimens/data using their unique identifiers and inform us about publications based on this material. If you image (photograph, scan) the specimens, send the digital files to us by email. See attachments for more information.</p>
  <p>All {{ data.type | transactionTypeLabel }}s are governed by our terms and conditions as outlined in the attached documents. </p>
  <h4>Attached documents:</h4>
  <div style="display: grid; grid-template-columns: 50% 50%">
    <div>
      [&nbsp;&nbsp;]&nbsp;&nbsp; {{ data.type | transactionTypeLabel | titlecase }} terms<br>
      [&nbsp;&nbsp;]&nbsp;&nbsp; Additional loan terms<br>
      [&nbsp;&nbsp;]&nbsp;&nbsp; Specimen data (printout or file by email)<br>
      [&nbsp;&nbsp;]&nbsp;&nbsp; Permits
    </div>
    <div>
      [&nbsp;&nbsp;]&nbsp;&nbsp; Instructions on returning the material<br>
      [&nbsp;&nbsp;]&nbsp;&nbsp; Other:
    </div>
  </div>
  <hr>
  <div class="avoid-page-break" style="display: grid; grid-template-columns: 50% 50%">
    <div>
      <h4>Recipient</h4>
      <div *ngIf="context.correspondingOrganization as correspondingOrganization" class="multi-line content-block">
        <span>{{ correspondingOrganization.organizationLevel4 }}<ng-container *ngIf="correspondingOrganization.abbreviation"> ({{ correspondingOrganization.abbreviation }})</ng-container></span>
        <span>{{ correspondingOrganization.organizationLevel1 }}</span>
        <span>{{ correspondingOrganization.organizationLevel2 }}</span>
        <span>{{ correspondingOrganization.organizationLevel3 }}</span>
        <!--span>PO box</span-->
        <span>{{ correspondingOrganization.streetAddress }}</span>
        <span>{{ correspondingOrganization.postalCode }}</span>
        <span>{{ correspondingOrganization.locality }}</span>
        <span>{{ correspondingOrganization.region }}</span>
        <span>{{ correspondingOrganization.country }}</span>
      </div>
      <div *ngIf="data.correspondentPerson" class="multi-line content-block">
        <span>Corresponding person:</span>
        <span>{{ data.correspondentPerson }}</span>
      </div>
      <div *ngIf="data.correspondentResearcher" class="multi-line content-block">
        <span>Receiving researcher:</span>
        <span>{{ data.correspondentResearcher }}</span>
      </div>
    </div>
    <div>
      <h4>
        {{ data.type | transactionTypeLabel | titlecase }} ID: {{ data.id | toFullUri }}
        <ng-container *ngIf="data.dueDate"><br>Due date: {{ data.dueDate | date:'dd MMMM Y' }}</ng-container>
      </h4>
      <div *ngIf="data.localHandler || data.localHandlerEmail" class="multi-line content-block">
        <span>Handler:</span>
        <span>{{ data.localHandler }}</span>
        <span>{{ data.localHandlerEmail }}</span>
      </div>
      <div *ngIf="data.localPerson || data.localPersonEmail" class="multi-line content-block">
        <span>Person responsible:</span>
        <span>{{ data.localPerson }}</span>
        <span>{{ data.localPersonEmail }}</span>
      </div>
      <div *ngIf="data.requestReceived || data.outgoingSent || data.transportMethod" class="multi-line content-block">
        <span>Loan request received: {{ data.requestReceived | date:'dd MMMM Y' }}</span>
        <span>Send to you on: {{ data.outgoingSent | date:'dd MMMM Y' }}</span>
        <span>Sent by: {{ fieldData['transportMethod']['options']['value_options'][data.transportMethod || ''] }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="data.publicRemarks" class="avoid-page-break">
    <hr>
    <h4>Remarks</h4>
    <p>{{ data.publicRemarks }}</p>
  </div>
  <hr>
  <div class="avoid-page-break">
    <p>Material received in good condition. We commit to the {{ data.type | transactionTypeLabel }} terms.</p>
    <div class="signature-space"></div>
    <div style="display: grid; grid-template-columns: 35% 35% 15% 15%">
      <span>Recipient name</span>
      <span>Signature</span>
      <span>Place</span>
      <span>Date</span>
    </div>
  </div>
  <hr>
  <div class="avoid-page-break">
    <h4>Material</h4>
    <div class="content-block">
      <strong>Total number of specimens: {{ totalAwayCount }}</strong>
    </div>
    <div *ngIf="data.material" class="content-block">
      {{ data.material }}
    </div>
    <div *ngIf="data.awayIDs?.length" class="content-block" style="display: grid; grid-template-columns: repeat(3, 33%)">
      <span *ngFor="let awayID of data.awayIDs">{{ awayID }}</span>
    </div>
    <div *ngIf="data.awayCount" class="content-block">
      In addition, loan includes {{ data.awayCount }} specimen(s) not specified in this list.
    </div>
  </div>
</ng-container>
