<kui-main-content header="Organizations" containerClass="container-fluid">
  <div class="col-sm-6 mb-2">
    <label for="nameFilter"><strong>Filter by any name field:</strong></label>
    <input
      id="nameFilter"
      type="text"
      class="form-control"
      [(ngModel)]="nameFilterText"
      (ngModelChange)="nameFilterChange()"
    >
  </div>
  <kui-datatable
    style="height: calc(100vh - 225px)"
    [columns]="columns"
    [datasource]="datasource"
    [dataTypeName]="'organization'"
    [defaultFilterModel]="defaultFilterModel"
  >
  </kui-datatable>
</kui-main-content>
