<kui-main-content header="Organizations" containerClass="container-fluid">
  <div class="col-sm-6 mb-2">
    <label for="nameFilter"><strong>Filter by any name field:</strong></label>
    <input
      id="nameFilter"
      type="text"
      class="form-control"
      [(ngModel)]="nameFilterText"
      (ngModelChange)="nameFilterChange()"
    >
  </div>
  <kui-document-datatable
    style="height: calc(100vh - 225px)"
    [dataType]="dataType"
    [columns]="columns"
    [dataTypeName]="'organization'"
    [defaultFilterModel]="defaultFilterModel"
    [extraSearchQuery]="extraSearchQuery"
    [enableColumnSelection]="true"
  >
  </kui-document-datatable>
</kui-main-content>
