<kui-main-content pageTitle="Branch search" containerClass="container-fluid">
  @if (columns$ | async; as columns) {
    <kui-search
      [columns]="columns"
      (search)="onSearch($event)"
    >
    </kui-search>
    <kui-document-datatable
      style="height: calc(100vh - 255px)"
      [dataType]="dataType"
      [columns]="columns"
      [enableFileExport]="true"
      [enableColumnSelection]="true"
      [extraSortModel]="[{
        colId: 'id',
        sort:  'desc'
      }]"
      [extraSearchQuery]="searchQuery"
    >
    </kui-document-datatable>
  }
</kui-main-content>
