<ng-container *ngIf="vm$ | async as vm else spinner">
  <kui-main-content
    class="mb-5"
    [containerClass]="'container'"
    [header]="(dataTypeName | titlecase) + (dataURI ? (' ' + dataURI) : '')"
  >
    <ngb-alert *ngIf="isErrorViewModel(vm)" [type]="'danger'" [dismissible]="false">
      <ng-container *ngIf="vm.errorType === versionHistoryErrorEnum.dataNotFound else genericError">
        {{ dataTypeName | titlecase }} <ng-container *ngIf="dataURI">with URI {{ dataURI }} </ng-container>was not found.
      </ng-container>
      <ng-template #genericError>
        An unexpected error occurred
      </ng-template>
    </ngb-alert>

    <ng-container *ngIf="isSuccessViewModel(vm)">
      <kotka-version-list
        *ngIf="view === versionHistoryViewEnum.versionList"
        [data]="vm.versionList"
        (compareVersionsClick)="onCompareVersionsClick($event)"
      ></kotka-version-list>
      <kotka-version
        *ngIf="view === versionHistoryViewEnum.version"
        [visibleDataTypeName]="dataTypeName"
        [version]="version"
        [versionList]="vm.versionList"
        [form]="vm.form"
        [data]="vm.data"
        (formInit)="formInit.emit($event)"
      ></kotka-version>
      <kotka-version-comparison
        *ngIf="view === versionHistoryViewEnum.versionComparison"
        [versions]="versions"
        [versionList]="vm.versionList"
        [form]="vm.jsonForm"
        [data]="vm.differenceData"
      ></kotka-version-comparison>
    </ng-container>
  </kui-main-content>
</ng-container>

<ng-template #spinner>
  <kui-spinner></kui-spinner>
</ng-template>
