@if (!showLabelDesigner()) {
  <kui-main-content
    pageTitle="Search specimens"
    containerClass="container-fluid"
  >
    <div class="row g-3 content-row">
      <div class="col-12 col-md-3 col-lg-2 content-column">
        <aside class="specimen-sidebar">
          <div>
            <label class="form-label sidebar-label" for="specimen-result-type">Result type</label>
            <select id="specimen-result-type" class="form-select form-select-sm" [(ngModel)]="index">
              @for (indexOption of indexOptions; track $index) {
                <option [ngValue]="indexOption">{{ indexOption }}</option>
              }
            </select>
          </div>

          <hr class="sidebar-divider">

          <kotka-aggregations
            class="sidebar-aggregations"
            [aggregates]="aggregates || []"
            (selectedChange)="onAggregationFiltersChange($event)"
          ></kotka-aggregations>
        </aside>
      </div>
      <div class="col-12 col-md-9 col-lg-10 content-column main-content-column">
        <!--button
          class="btn btn-light"
          (click)="showLabelDesigner.set(true)"
        >
          Print labels
        </button-->
        @if (vm$ | async; as vm) {
          <kui-search
            class="specimen-search"
            [fields]="vm.fields"
            (search)="onSearch($event)"
          >
          </kui-search>
          @if (searchError) {
            <ngb-alert type="danger" [dismissible]="false">
              <strong>Error:</strong> {{ searchError }}
            </ngb-alert>
          }
          <kui-document-datatable
            class="specimen-datatable"
            [dataType]="dataType"
            [index]="vm.index"
            [columns]="vm.columns"
            [columnsLoading]="vm.columnsLoading"
            [enableFileExport]="true"
            [enableColumnSelection]="true"
            [disableFilter]="true"
            [extraSearchQuery]="searchQuery()"
            [extraSortModel]="vm.index ? [] : [{
                colId: 'dateCreated',
                sort:  'desc'
              }, {
                colId: 'id',
                sort:  'desc'
              }]"
            [aggregateBy]="aggregateFields"
            (loadData)="onDataLoad($event)"
            (invalidQueryError)="onInvalidQueryError()"
          >
          </kui-document-datatable>
        }
      </div>
    </div>
  </kui-main-content>
} @else {
  @if (labelDesignerData$ | async; as labelDesignerData) {
    <kotka-specimen-label-designer
      [documents]="labelDesignerData"
    ></kotka-specimen-label-designer>
  } @else {
    <kui-spinner></kui-spinner>
  }
}
