@if (vm$ | async; as vm) {
  <kui-modal>
    <kotka-specimen-viewer-header
      kuiModalHeader
      class="flex-grow-1 me-1"
      [uri]="uri"
      [pageTitle]="vm.title || uri"
      [specimenDataType]="vm.specimenDataType"
      [document]="vm.document"
      [showEditButton]="!!vm.showEditButton"
      [showBranchesLink]="false"
    ></kotka-specimen-viewer-header>
    <kotka-specimen-viewer-content
      [loading]="vm.loading"
      [error]="vm.error"
      [fields]="vm.fields"
      [document]="vm.document"
    ></kotka-specimen-viewer-content>
  </kui-modal>
}
