@if (vm$ | async; as vm) {
  <ng-template #headerTemplate>
    <kotka-specimen-viewer-header
      class="d-block mb-2"
      [uri]="uri()"
      [specimenDataType]="vm.specimenDataType"
      [document]="vm.document"
      [showEditButton]="!!vm.showEditButton"
    ></kotka-specimen-viewer-header>
  </ng-template>

  <kui-main-content [pageTitle]="uri() || ''" [headerTpl]="headerTemplate" containerClass="container" [hasBottomMargin]="true">
    <kotka-specimen-viewer-content
      [loading]="vm.loading"
      [error]="vm.error"
      [fields]="vm.fields"
      [document]="vm.document"
    ></kotka-specimen-viewer-content>
    <kui-document-navigator
      class="bg-white p-2 rounded-2 shadow border"
      [dataType]="dataType"
      [data]="vm.document"
      buttonRouterLink="/view"
    ></kui-document-navigator>
  </kui-main-content>
}

