<kotka-form-view
  [style.visibility]="advancedFields() ? 'visible' : 'hidden'"
  [formId]="formId"
  [dataType]="formDataType"
  [dataTypeName]="'specimen'"
  [editMode]="editMode()"
  [dataURI]="dataURI()"
  [allowCopy]="!!dataType()"
  [prefilledFormData]="copyData() || prefilledFormData()"
  [mediaMetadata]="mediaMetadata()"
  [footerDisabled]="markAdvancedFieldsActive() || markUnreliableFieldsActive()"
  [hiddenFields]="hiddenFields()"
  [additionalClassNames]="additionalClassNames()"
  [confirmFieldDelete]="true"
  [pageTitle]="title()"
  [historyPageLink]="'/specimens/history'"
  [formContainerTpl]="formContainer"
  [customFooterButtonsTpl]="customFooterButtons"
  (formInit)="onFormInit($event)"
  (formDataChange)="onFormDataChange($event)"
  (saveSuccess)="onSaveSuccess($event)"
  (deleteSuccess)="onDeleteSuccess()"
  (copyData)="onCopyData($event)"
></kotka-form-view>

<ng-template #formContainer let-formContentTpl>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12 order-sm-last">
      <div class="button-group-container d-sm-inline-block rounded bg-light py-3 mb-3">
        @if (lajiForm?.form() && formData()) {
          <kotka-specimen-form-nav
            [form]="lajiForm!.form()!"
            [formData]="formData()!"
            (scrollToId)="scrollToId($event)"
            (scrollToField)="scrollToField($event)"
          ></kotka-specimen-form-nav>
        }
        <div class="btn-group-vertical col-12">
          <button
            class="btn btn-light"
            (click)="expandAll()"
          >
            Expand all
          </button>
          <button
            class="btn btn-light mb-3"
            (click)="collapseAll()"
          >
            Collapse all
          </button>
          @if (!markUnreliableFieldsActive()) {
            <button
              class="btn"
              [ngClass]="{
                'btn-light': !markAdvancedFieldsActive(),
                'btn-success': markAdvancedFieldsActive()
              }"
              [disabled]="!lajiForm"
              (click)="toggleMarkAdvancedFields()"
            >
              {{ markAdvancedFieldsActive() ? 'Marking advanced fields. Stop and save' : 'Start marking advanced fields' }}
            </button>
          }
          @if (!(markAdvancedFieldsActive() || markUnreliableFieldsActive())) {
            <button
              class="btn btn-light mb-3"
              (click)="toggleShowOnlyBasicFields()"
            >
              {{ showOnlyBasicFields() ? 'Show basic and advanced fields' : 'Show only basic fields' }}
            </button>
          }
          @if (!markAdvancedFieldsActive()) {
            <button
              class="btn"
              [ngClass]="{
                'btn-light': !markUnreliableFieldsActive(),
                'btn-success': markUnreliableFieldsActive()
              }"
              [disabled]="!lajiForm"
              (click)="toggleMarkUnreliableFields()"
            >
              {{ markUnreliableFieldsActive() ? 'Stop marking unreliable fields' : 'Start marking unreliable fields' }}
            </button>
          }
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 order-sm-first">
      <ng-container *ngTemplateOutlet="formContentTpl"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #customFooterButtons>
  <div class="d-grid gap-2 d-sm-flex flex-sm-grow-1 justify-content-sm-end me-sm-2">
    @if (editMode() && dataType() === 'accession') {
      <a
        class="btn btn-light col-lg-2 col-sm-3 col-xs-12"
        routerLink="/accessions"
        [queryParams]="{ uri: dataURI() }"
      >
        Branches
      </a>
    }
    <kotka-document-navigator
      [dataType]="formDataType"
      [data]="initialDocument()"
      routerLink="/specimens/edit"
    ></kotka-document-navigator>
  </div>
</ng-template>
