<kotka-form-view
  [style.visibility]="advancedFields() ? 'visible' : 'hidden'"
  [formId]="formId"
  [dataType]="formDataType"
  [dataTypeName]="'specimen'"
  [editMode]="editMode()"
  [dataURI]="dataURI()"
  [allowCopy]="!!dataType()"
  [prefilledFormData]="copyData() || prefilledFormData()"
  [footerDisabled]="markAdvancedFieldsActive()"
  [hiddenFields]="hiddenFields()"
  [title]="title()"
  [historyPageLink]="'/specimens/history'"
  [formContainerTpl]="formContainer"
  (formInit)="onFormInit($event)"
  (formDataChange)="onFormDataChange($event)"
  (saveSuccess)="onSaveSuccess($event)"
  (deleteSuccess)="onDeleteSuccess()"
  (copyData)="onCopyData($event)"
>

<ng-template #formContainer let-formContentTpl>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12 order-sm-last">
      <div class="button-group-container d-sm-inline-block mb-2">
        <div class="btn-group-vertical col-12">
          <button
            class="btn btn-light"
            (click)="expandAll()"
          >
            Expand all
          </button>
          <button
            class="btn btn-light mb-3"
            (click)="collapseAll()"
          >
            Collapse all
          </button>
          @if (!markUnreliableFieldsActive()) {
            <button
              class="btn"
              [ngClass]="{
                'btn-light': !markAdvancedFieldsActive(),
                'btn-success': markAdvancedFieldsActive()
              }"
              [disabled]="!lajiForm"
              (click)="toggleMarkAdvancedFields()"
            >
              {{ markAdvancedFieldsActive() ? 'Marking advanced fields. Stop and save' : 'Start marking advanced fields' }}
            </button>
          }
          @if (!(markAdvancedFieldsActive() || markUnreliableFieldsActive())) {
            <button
              class="btn btn-light mb-3"
              (click)="toggleShowOnlyBasicFields()"
            >
              {{ showOnlyBasicFields() ? 'Show basic and advanced fields' : 'Show only basic fields' }}
            </button>
          }
          @if (!markAdvancedFieldsActive()) {
            <button
              class="btn"
              [ngClass]="{
                'btn-light': !markUnreliableFieldsActive(),
                'btn-success': markUnreliableFieldsActive()
              }"
              [disabled]="!lajiForm"
              (click)="toggleMarkUnreliableFields()"
            >
              {{ markUnreliableFieldsActive() ? 'Stop marking unreliable fields' : 'Start marking unreliable fields' }}
            </button>
          }
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 order-sm-first">
      <ng-container *ngTemplateOutlet="formContentTpl"></ng-container>
    </div>
  </div>
</ng-template>
</kotka-form-view>
