<kotka-form-view
  [formId]="formId"
  [dataType]="dataType"
  [dataTypeName]="'specimen'"
  [prefilledFormData]="prefilledFormData"
  [processFormDataBeforeSaveFunc]="processFormDataBeforeSaveFunc"
  [formContainerTpl]="formContainer"
  (formInit)="onFormInit($event)"
>
</kotka-form-view>
<ng-template #formContainer let-formContentTpl>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-12 order-sm-last">
      <div class="button-group-container d-sm-inline-block mb-2">
        <div class="btn-group-vertical col-12">
          <button
            class="btn btn-light"
            [disabled]="!lajiForm"
            (click)="toggleMarkAdvancedFields()"
          >
            {{ markAdvancedFieldsActive() ? 'Marking advanced fields. Stop and save' : 'Start marking advanced fields' }}
          </button>
          @if (!markAdvancedFieldsActive()) {
            <button
              class="btn btn-light"
              (click)="showOnlyBasicFields()"
            >
              Show only basic fields
            </button>
          }
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-12 order-sm-first">
      <ng-container *ngTemplateOutlet="formContentTpl"></ng-container>
    </div>
  </div>
</ng-template>
