<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-nav" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header me-3">
      <a class="navbar-brand" [href]="'/' | oldKotkaUrl">Kotka</a>
    </div>

    <ng-container *ngIf="currentPath && !currentPath.startsWith('/user/login?token=')">
      <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-expanded="true">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsibleNavbar" [collapse]="isCollapsed">
        <ul class="navbar-nav me-auto">
          <ng-container *ngIf="userService.isLoggedIn$ | async">
            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="specimen-menu">Specimens <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="specimen-menu">
                <li><a class="dropdown-item" [href]="'/specimens/search' | oldKotkaUrl">Search specimens</a></li>
                <li><a class="dropdown-item" [href]="'/specimens/search-sample' | oldKotkaUrl">Search preparations/samples</a></li>
                <li><a class="dropdown-item" [href]="'/specimens/search-branch' | oldKotkaUrl">Search branches</a></li>
                <li><a class="dropdown-item" [href]="'/culture' | oldKotkaUrl">Search cultures</a></li>
                <li role="presentation" class="dropdown-divider"></li>
                <li><a class="dropdown-item" [href]="'/botany/specimens/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add botanical</a></li>
                <li><a class="dropdown-item" [href]="'/zoo/specimens/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add zoological</a></li>
                <li><a class="dropdown-item" [href]="'/palaeontology/specimens/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add palaeontological</a></li>
                <li><a class="dropdown-item" [href]="'/accession/specimens/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add accession</a></li>
                <li><a class="dropdown-item" [href]="'/culture/specimens/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add culture</a></li>
                <li role="presentation" class="dropdown-divider"></li>
                <li><a class="dropdown-item" [href]="'/specimens/images' | oldKotkaUrl">Add multiple images</a></li>
                <li><a class="dropdown-item" [href]="'/specimens/images/edit' | oldKotkaUrl">Edit images</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="collections-menu">Collections <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu>
                <li><a class="dropdown-item" [href]="'/collections' | oldKotkaUrl">All</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.128' | oldKotkaUrl">Luomus collections</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.1127' | oldKotkaUrl">Kuopio collections</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.121' | oldKotkaUrl">Kieppi collections</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.1207' | oldKotkaUrl">Oulu collections</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.1627' | oldKotkaUrl">Turku collections</a></li>
                <li><a class="dropdown-item" [href]="'/view?uri=http://tun.fi/HR.1247' | oldKotkaUrl">Jyväskylä collections</a></li>
                <li><a class="dropdown-item" [href]="'/collections/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add collection</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="datasets-menu">Tags <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="datasets-menu">
                <li><a class="dropdown-item" routerLink="/tags">All</a></li>
                <li><a class="dropdown-item" routerLink="/tags/add" data-cy="datasets-add"><i class="fa fa-plus"></i> Add tag</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="organizations-menu">Organizations <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="organizations-menu">
                <li><a class="dropdown-item" [href]="'/organizations' | oldKotkaUrl">All</a></li>
                <li><a class="dropdown-item" [href]="'/organizations/add' | oldKotkaUrl"><i class="fa fa-plus"></i> Add organization</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="transactions-link">Transactions <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="transactions-link">
                <li><a class="dropdown-item" [href]="'/transactions' | oldKotkaUrl">All</a></li>
                <li><a class="dropdown-item" routerLink="/transactions/add"><i class="fa fa-plus"></i> Add transaction</a></li>
                <li><a class="dropdown-item" [href]="'/reports/transaction' | oldKotkaUrl">Yearly report</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="tools-link">Tools <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="tools-link">
                <li><a class="dropdown-item" [href]="'/tools/autofill-excel' | oldKotkaUrl">Generate IDs to Excel</a></li>
                <li><a class="dropdown-item" [href]="'/tools/import' | oldKotkaUrl">Import</a></li>
                <li><a class="dropdown-item" [href]="'/tools/save' | oldKotkaUrl">Last saved Excel</a></li>
                <li><a class="dropdown-item" [href]="'/tools/export' | oldKotkaUrl">Last exported Excel</a></li>
                <li><a class="dropdown-item" [href]="'/excel' | oldKotkaUrl">Excel generator</a></li>
                <li><a class="dropdown-item" [href]="'/tools/generic-label' | oldKotkaUrl">Generic Labels</a></li>
                <li><a class="dropdown-item" [href]="'/qr' | oldKotkaUrl">QR reader</a></li>
                <li role="presentation" class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="http://ws.luomus.fi/util/coordinate-mass-conversion" target="_blank">Coordinate mass converter</a></li>
              </ul>
            </li>

            <li dropdown class="nav-item me-3 dropdown" routerLinkActive="active">
              <a class="nav-link" dropdownToggle id="help-menu">Help <i class="fa fa-caret-down"></i></a>
              <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="help-menu">
                <li><a class="dropdown-item" href="https://wiki.helsinki.fi/display/digit/Manual+for+Kotka" target="new" title="Manual"><i class="fa fa-book"></i> Manual</a></li>
                <li><a class="dropdown-item" [href]="'/documentation/field' | oldKotkaUrl" target="new" title="Description of fields used by Kotka"><i class="fa fa-book"></i> Data fields</a></li>
                <li role="presentation" class="dropdown-divider"></li>
                <li><a class="dropdown-item" [href]="'/documentation/distinct-values' | oldKotkaUrl" title="Statistics of saved data"><span class="fa fa-bar-charts"></span> Field value stats</a></li>
                <li><a class="dropdown-item" [href]="'/tools/simplestats' | oldKotkaUrl"><i class="fa fa-bar-charts"></i> Quantity stats</a></li>
                <li><a class="dropdown-item" [href]="'/reports/annual' | oldKotkaUrl"><i class="fa fa-bar-charts"></i> Annual reports</a></li>
              </ul>
            </li>
          </ng-container>
        </ul>

        <ul class="nav navbar-nav" routerLinkActive="active">
          <ng-container *ngIf="userService.isLoggedIn$ | async else userLogin">
            <li dropdown class="nav-item dropdown" placement="bottom right" *ngIf="userService.user$ | async as user;">
              <a class="nav-link" dropdownToggle id="user-menu"><i class="fa fa-user"></i>&nbsp; {{ user.fullName }}</a>
              <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <li><a class="dropdown-item" id="user-logout" routerLink="/user/logout"><i class="fa fa-power-off"></i> Logout</a></li>
              </ul>
            </li>
          </ng-container>
          <ng-template #userLogin>
            <a class="nav-link" href="/api/auth/login?next={{ currentPath }}">Login</a>
          </ng-template>
        </ul>
      </div>
    </ng-container>
  </div>
</nav>
