@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

:host {
  display: block;
}

@include media-breakpoint-up(lg) {
  #main-nav {
    height: 48px;
  }
}

.nav-link {
  cursor: pointer;
  padding: 0.7rem 1rem;
}
