<div class="avoid-page-break">
  <div *ngIf="data.material" class="content-block">
    <h4>Description:</h4>
    <div class="content-block text-with-line-breaks">{{ data.material }}</div>
  </div>
  <div class="content-block">
    <h4>Specimens:</h4>
    <div class="content-block">
      <strong>Total/Original number of specimens: {{ originalTotalCount }}</strong>
    </div>
    <div *ngIf="allSpecimens.length" class="content-block" style="display: grid; grid-template-columns: repeat(3, 33%)">
      <span *ngFor="let specimenID of allSpecimens">{{ specimenID }}</span>
    </div>
    <div *ngIf="originalCountWithIds > 0 && originalCountWithoutIds > 0" class="content-block">
      In addition, {{ data.type | transactionTypeLabel }} includes {{ originalCountWithoutIds }} specimen(s) not specified in this list.
    </div>
    <div *ngIf="data.transactionEvents" class="content-block">
      <div *ngFor="let event of data.transactionEvents">
        {{ event.eventType === 'HRX.eventTypeReturn' ? 'Returned' : 'Added' }} {{ event.eventDate | date:'dd MMM Y' }}: {{ event.eventNotes }}
      </div>
    </div>
    <div *ngIf="data.type === 'HRX.typeLoanIncoming' || data.type === 'HRX.typeLoanOutgoing'" class="content-block">
      <strong>Currently on loan: {{ awayTotalCount }} specimens</strong>
    </div>
  </div>
</div>
