<div class="avoid-page-break">
  @if (data.material) {
    <div class="content-block">
      <h4>Description:</h4>
      <div class="content-block text-with-line-breaks">{{ data.material }}</div>
    </div>
  }
  <div class="content-block">
    <h4>Specimens:</h4>
    <div class="content-block">
      <strong>Total/Original number of specimens: {{ originalTotalCount }}</strong>
    </div>
    @if (allSpecimens.length) {
      <div class="content-block" style="display: grid; grid-template-columns: repeat(3, 33%)">
        @for (specimenID of allSpecimens; track specimenID) {
          <span>{{ specimenID }}</span>
        }
      </div>
    }
    @if (originalCountWithIds > 0 && originalCountWithoutIds > 0) {
      <div class="content-block">
        In addition, {{ data.type | transactionTypeLabel }} includes {{ originalCountWithoutIds }} specimen(s) not specified in this list.
      </div>
    }
    @if (data.transactionEvents) {
      <div class="content-block">
        @for (event of data.transactionEvents; track event) {
          <div>
            {{ event.eventType === 'HRX.eventTypeReturn' ? 'Returned' : 'Added' }} {{ event.eventDate | date:'dd MMM y' }}: {{ event.eventNotes }}
          </div>
        }
      </div>
    }
    @if (data.type === 'HRX.typeLoanIncoming' || data.type === 'HRX.typeLoanOutgoing') {
      <div class="content-block">
        <strong>Currently on loan: {{ awayTotalCount }} specimens</strong>
      </div>
    }
  </div>
</div>
