<div class="avoid-page-break" style="display: grid; grid-template-columns: 50% 50%">
  <div>
    <h4>Sender</h4>
    <div *ngIf="correspondingOrganization" class="multi-line content-block">
      <span>{{ correspondingOrganization.organizationLevel4 }}<ng-container *ngIf="correspondingOrganization.abbreviation"> ({{ correspondingOrganization.abbreviation }})</ng-container></span>
      <span>{{ correspondingOrganization.organizationLevel1 }}</span>
      <span>{{ correspondingOrganization.organizationLevel2 }}</span>
      <span>{{ correspondingOrganization.organizationLevel3 }}</span>
      <!--span>PO box</span-->
      <span>{{ correspondingOrganization.streetAddress }}</span>
      <span>{{ correspondingOrganization.postalCode }}</span>
      <span>{{ correspondingOrganization.locality }}</span>
      <span>{{ correspondingOrganization.region }}</span>
      <span>{{ correspondingOrganization.country }}</span>
    </div>
    <div *ngIf="data.correspondentPerson" class="multi-line content-block">
      <span>Corresponding person:</span>
      <span>{{ data.correspondentPerson }}</span>
    </div>
    <div *ngIf="data.externalID" class="multi-line content-block">
      Sender's loan ID: {{ data.externalID }}
    </div>
  </div>
  <div>
    <h4>Recipient</h4>
    <div *ngIf="ownerOrganization" class="multi-line content-block">
      <span>{{ ownerOrganization.organizationLevel4 }}</span>
      <span>{{ ownerOrganization.organizationLevel3 }}</span>
      <span>{{ ownerOrganization.organizationLevel2 }}</span>
      <span>{{ ownerOrganization.organizationLevel1 }}</span>
    </div>
    <div *ngIf="data.localResearcher" class="multi-line content-block">
      <span>Receiving researcher:</span>
      <span>{{ data.localResearcher }}</span>
    </div>
    <div *ngIf="data.requestReceived || data.outgoingSent || data.transportMethod" class="multi-line content-block">
      <span>Recipient loan ID: {{ data.id | toFullUri }}</span>
      <span>Loan received: {{ data.incomingReceived | date:'dd MMMM Y' }}</span>
      <span>Due date: {{ data.dueDate | date:'dd MMMM Y' }}</span>
    </div>
    <div *ngIf="data.localHandler || data.localHandlerEmail" class="multi-line content-block">
      <span>Handler:</span>
      <span>{{ data.localHandler }}</span>
      <span>{{ data.localHandlerEmail }}</span>
    </div>
    <div *ngIf="data.localPerson || data.localPersonEmail" class="multi-line content-block">
      <span>Person responsible:</span>
      <span>{{ data.localPerson }}</span>
      <span>{{ data.localPersonEmail }}</span>
    </div>
  </div>
</div>
