@if (context$ | async; as context) {
  @switch (type$ | async) {
    @case (typeEnum.transactionDispatch) {
      <kotka-transaction-dispatch-sheet
        [context]="context"
      ></kotka-transaction-dispatch-sheet>
    }
    @case (typeEnum.transactionIncoming) {
      <kotka-transaction-incoming-sheet
        [context]="context"
      ></kotka-transaction-incoming-sheet>
    }
    @case (typeEnum.transactionInquiry) {
      <kotka-transaction-inquiry-sheet
        [context]="context"
      ></kotka-transaction-inquiry-sheet>
    }
    @case (typeEnum.transactionReturn) {
      <kotka-transaction-return-sheet
        [context]="context"
      ></kotka-transaction-return-sheet>
    }
    @case (typeEnum.transactionInsectLabels) {
      <kotka-transaction-insect-labels
        [context]="context"
      ></kotka-transaction-insect-labels>
    }
    @case (typeEnum.transactionBotanyLabels) {
      <kotka-transaction-botany-labels
        [context]="context"
      ></kotka-transaction-botany-labels>
    }
  }
}
