@use "sass:map";
@import "../../../styles/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.header-layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: map.get($spacers, 2);

  .header-left-group {
    display: flex;
    align-items: center;
    gap: map.get($spacers, 2);
  }

  h1 {
    margin-bottom: 0;
  }
}

kui-document-navigator {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;

  &:empty {
    display: none;
  }
}

