@import "variables";
@import "node_modules/bootstrap/scss/variables";

.laji-form {
  label:not(.btn) {
    font-weight: 700;
  }

  label.btn {
    line-height: 15px;
  }

  legend {
    margin-top: map-get($spacers, 2);
    font-size: $h2-font-size;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }

  .laji-form-multi-tag-array-field-buttons .btn-group-vertical button.active::before {
    margin-top: -12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }

  .date-widget > .date-picker {
    flex: 0 0 auto;
  }

  .verbatim-field {
    input, textarea {
      background: url("/assets/paper-bgr.jpg") top left repeat;
    }
  }

  .highlight-container {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
  }

  .field-array[id$=_units], .field-array[id$=_identifications], .field-array[id$=_typeSpecimens], .field-array[id$=_samples] {
    [id$=-panel].card {
      box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.6);
      margin-top: map-get($spacers, 2);
      margin-bottom: map-get($spacers, 2);
    }
  }

  .field-array[id$=_units] {
    .card-header {
      background-color: rgba(254,90,0,0.15);
      border-color: rgba(254,90,0,0.15);
    }
    .card-body {
      background-color: rgba(0,0,0,0.05);
    }
  }

  .field-array[id$=_identifications] {
    .card-header {
      background-color: rgba(166,138,2,0.15);
      border-color: rgba(166,138,2,0.15);
    }
    .card-body {
      background-color: rgba(0,0,0,0.05);
    }
  }

  .field-array[id$=_typeSpecimens] {
    .card-header {
      background-color: rgba(15,159,132,0.15);
      border-color: rgba(15,159,132,0.15);
    }
    .card-body {
      background-color: rgba(0,0,0,0.05);
    }
  }

  .field-array[id$=_samples] {
    .card-header {
      background-color: rgba(0,0,0,0.15);
      border-color: rgba(0,0,0,0.15);
    }
    .card-body {
      background-color: white;
    }
  }
}
