@import "variables";
@import "node_modules/bootstrap/scss/variables";

.laji-form {
  legend {
    margin-top: map-get($spacers, 2);
    font-size: $h2-font-size;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
  }

  .laji-form-multi-tag-array-field-buttons .btn-group-vertical button.active::before {
    margin-top: -12px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
  }
}
