.scrollable-modal {
  .modal-body {
    max-height: calc(100vh - 175px);
    overflow-y: auto;
  }
}

.semi-transparent-modal {
  background: rgba(0, 0, 0, 0.85);

  .modal-content {
    background: transparent;
  }
}

